.custom_link {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}

.custom_link:hover {
    color: blueviolet;
}

.rounded_card_400w {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    background-color: #f2f2f2; 
    padding: 50px; 
    border-radius: 20px; 
    max-width: 400px;
}

.center_page {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

@media (max-width:500px)  { 

    .rounded_card_400w {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        background-color: #f2f2f2; 
        border-radius: 20px; 
        max-width: 300px;
    }

}

